@charset "utf-8";

header{
    width : 100%;

}

header .inner{
    width: calc(100% - 354px);
    height: 70px;
    margin: 0 auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
    /* border: 1px solid red; */
}

header .inner .logo{
    width: 110px;
    height: 20px;
}

header .inner .logo h1{

}

header .inner .logo h1 a{
    /* display: block;
    width:110px;
    height: 20px;
    background-image:url("../img/");
    background-repeat:no-repeat;
    text-indent: -9999px; 접근성 때문에 넣은 항목 */

    font-size:30px;
    font-weight:bold;
    color:#238ece
}

header .inner .promotion{
    border-bottom: 1px solid gray;
    width: 300px;
    height: 20px;
}

header .inner .gnb{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .inner .gnb li{
    margin-right: 20px;
}

header .nav{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header .nav li{
    margin-right: 25px;
}

header .nav li :last-child{
    margin-right: 0;
}

header .nav li a{
    color:#000;
    font-size:20px;
}





/* header .inner .gnb li:nth-child(2) a{
    display: block;
    width: 38px;
    height: 30px;
    background-image: url("../img/icon-login.png");
    background-repeat: no-repeat;
    background-position: center center;
}

header .inner .gnb li:nth-child(3) a{
    display: block;
    width: 38px;
    height: 30px;
    background-image: url("../img/icon-cart.png");
    background-repeat: no-repeat;
    background-position: center center;
}

header .inner .gnb li input{
    width:160px;
    height:25px;
    border: 1px solid #e21244;
    border-radius: 20px;
    background-image: url("../img/icon-find.png");
    background-repeat: no-repeat;
    background-position: 90% center;
} */